body {
    text-align: center;
    margin: 0;
}

header {
    background-color: black;
    padding: 30px 20px;
    width: 100vw;
}

main {
	width: 850px;
	margin: 35px auto;
}

footer {
	text-transform: uppercase;
	padding: 10px 10px;
	background-color: black;
	color: gold;
	font-size: 14px !important;
	letter-spacing: .08em;
    font-weight: 500;
}

.copyright {
    color: gold;
    background-color: black;
    font-family: 'Sigmar One', cursive;
    font-size: 18px;
}

#letterboard {
    width: 50%;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(197, 196, 196);
    margin: 5% auto;
    border: 5px solid black;
}

#input {
    font-family: 'Sigmar One', cursive;
    font-size: 32px;
    padding: 15px;
}

#comments {
    font-family: 'Sigmar One', cursive;
    font-size: 24px;
    padding: 10px;
    height: 25px;
}

#letters a {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#letters a:hover {
    color: green;   
}

#reset-button {
    height: 80px;
    width: auto;
    margin: 40px 10px 10px 10px;
    cursor: pointer;
}

#donald {
    margin: 30px 8px;
    height: 420px;
    width: auto; 
    border: 10px solid gold;
       
}

h1 {
    font-family: 'Ewert', cursive;
    color: gold;
    font-size: 98px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Sigmar One', cursive;
    font-size: 32px;
}

p {
    width: 90%;
    margin: auto;
    font-family: 'Just Another Hand', cursive;
    font-size: 32px;
    border-radius: 5px;
    padding-bottom: 15px;
}

a {
    font-family: 'Ewert', cursive;
    font-size: 24px;
}